.form {
  position: relative;
}
.fa-sun {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  border: none;
}
.fa-moon {
  background-color: blanchedalmond;
  position: absolute;
  right: 1rem;
  border: none;
}
